{% extends 'layout.html.twig' %}

{% set title = 'Mot de passe oublié' %}

{% block title %}Récupération mot de passe{% endblock %}

{% block body %}
    <form action="{{ pathab('user_password_lost') }}" method="POST">
        <div class="form-group">
            <label for="login">Nom d'utilisateur :</label>
            <input type="text" id="login" maxlength="50"
                   name="form[login]" class="form-control {% if errors.login is defined %} is-invalid {% endif %}"
                   value="{% if form.login is defined %}{{ form.login }}{% endif %}" required>
            {% for login in errors.login %}
                <div class="invalid-feedback">{{ login }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="mail">E-mail :</label>
            <input type="email" id="mail" maxlength="50"
                   name="form[mail]" class="form-control {% if errors.mail is defined %} is-invalid {% endif %}"
                   value="{% if form.mail is defined %}{{ form.mail }}{% endif %}" required>
            {% for mail in errors.mail %}
                <div class="invalid-feedback">{{ mail }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Récupérer</button>
    </form>
{% endblock %}
