{% extends 'layout.html.twig' %}

{% set title = 'Votre profil' %}

{% block title %}Modifier profil{% endblock %}

{% block body %}
    <form action="{{ pathab('user_profile') }}" method="POST">
        <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" maxlength="50"
                   name="form[password]" class="form-control {% if errors.plainPassword is defined %} is-invalid {% endif %}"
                   required>
            {% for error in errors.plainPassword %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="passwordConfirm">Confirmer le mot de passe :</label>
            <input type="password" id="passwordConfirm" maxlength="50"
                   name="form[passwordConfirm]" class="form-control {% if errors.plainPassword is defined %} is-invalid {% endif %}"
                   required>
            {% for error in errors.plainPassword %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary" name="form[btn]" value="password">Modifier le mot de passe</button>
    </form>

    <form action="{{ pathab('user_profile') }}" method="POST" class="mt-4">
        <div class="form-group">
            <label for="password">E-mail :</label>
            <input type="email" id="ail" maxlength="50"
                   name="form[mail]" class="form-control {% if errors.mail is defined %} is-invalid {% endif %}"
                   value="{% if form.mail is defined %}{{ form.mail }}{% endif %}" required>
            {% for mail in errors.mail %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="mailConfirm">Confirmer l'e-mail :</label>
            <input type="email" id="mailConfirm" maxlength="50"
                   name="form[mailConfirm]" class="form-control {% if errors.mail is defined %} is-invalid {% endif %}"
                   value="{% if form.mail is defined %}{{ form.mail }}{% endif %}" required>
            {% for mail in errors.mail %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary" name="form[btn]" value="mail">Modifier l'e-mail</button>
    </form>
{% endblock %}
