{% extends 'layout.html.twig' %}

{% set title = 'Ajouter une news' %}

{% set breadcrumb = [
    {"name": 'Administration', 'link': pathab('dashboard_admin') },
    {'name': 'News', 'link': pathab('news_admin_list')},
    {'name': 'Ajout'}
] %}

{% block title %}Création news{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('js/sceditor/themes/default.min.css') }}" />
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/sceditor/sceditor.min.js') }}"></script>
    <script src="{{ asset('js/sceditor/formats/bbcode.js') }}"></script>

    <script>
        sceditor.create(document.getElementById('text'), {
            format: 'bbcode',
            style: '{{ asset('js/sceditor/themes/content/default.min.css') }}',
            toolbar: 'bold,italic,underline,strike|left,center,right,justify|color,bulletlist,orderedlist|link,image,quote,source'
        });
    </script>
{% endblock %}

{% block body %}
    <form action="{{ pathab('news_admin_add') }}" method="POST">
        <div class="form-group">
            <label for="name">Nom de la news :</label>
            <input type="text" id="login" maxlength="50"
                   name="form[name]" class="form-control {% if errors.name is defined %} is-invalid {% endif %}"
                   value="{% if form.name is defined %}{{ form.name }}{% endif %}" required>
            {% for name in errors.name %}
                <div class="invalid-feedback">{{ name }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="category">Catégorie :</label>
            <select name="form[category]" id="category" class="form-control
                {% if errors.category is defined %} is-invalid {% endif %}" required>
                {% for category in categories %}
                    <option value="{{ category.id }}"
                            {%  if form.category is defined and form.category==category.id%}select{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
            {% for category in errors.category %}
                <div class="invalid-feedback">{{ category }}</div>
            {% endfor %}
        </div>
        
        <div class="form-group">
            <label for="text">News :</label>
            <div class="row">
            <textarea name="form[text]" id="text" cols="30" rows="6" class="form-control">{% if form.text is defined %}{{ form.text }}{% endif %}</textarea>
            {% for text in errors.text %}
                <div class="invalid-feedback">{{ text }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Créer</button>
    </form>
{% endblock %}
