{% extends 'layout.html.twig' %}

{% set title = 'Liste des news' %}

{% set breadcrumb = [
    {"name": 'Administration', 'link': pathab('dashboard_admin') },
    {'name': 'News'}
] %}

{% block title %}Liste news{% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="{{ pathab('news_admin_list') }}" class="nav-link active">Liste des news</a></li>
        <li class="nav-item"><a href="{{ pathab('news_cat_admin_list') }}" class="nav-link">Liste des catégories</a></li>
    </ul>

    <a href="{{ pathab('news_admin_add') }}" class="btn btn-primary mb-4 mt-4">Ajouter</a>

    <table class="table table-bordered table-hover">
        <thead class="text-center">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for news in news %}
            <tr>
                <td class="text-center">{{ news.id }}</td>
                <td>{{ news.name }}</td>
                <td>{{ news.category.name }}</td>
                <td>
                    <a href="{{ pathab('news_admin_change', {'id': news.id}) }}" class="octicon octicon-pencil">&nbsp;</a>
                    <a href="{{ pathab('news_admin_delete', {'id': news.id}) }}" class="octicon octicon-x">&nbsp;</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
